body {
	font-family: Verdana;
	font-size: 1rem;
}

#cenususdatatable, th, td {
	border: 1px solid black;
}

th, td {
	padding: 0.5rem;
}

th {
	background-color: #888;
}

#cenususdatatable {
	margin-bottom: 2rem;
} 


