body {
	font-family: Verdana;
	font-size: 0.75rem;
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1rem;
}

label {
	display: block;
	font-weight: bold;
	margin: 0.25rem 0 0.25rem 0;
}

#showpasswordslabel {
	display:inline;
}

#showpasswords {
	width: 18px;
    height: 18px;
}

.error {
	width:15%;
	min-width: 240px;
	display: block;
	padding: 0.5rem;
    font-size: 0.75rem;
	color: white;
	background-color: #900;
	margin: 0.5rem;
	border: 2px solid transparent;

}

input:not(#showpasswords) {
	width:15%;
	min-width: 240px;
	height: 10px;
    padding: 10px 0 10px 10px;
    margin: 0.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #B2B2B2, -1px -1px 1px #292929;
    position: relative;

}

button {
	margin-top: 1rem;
	border: none;
	background: #3498db;
	width: 80px;
	height: 35px;
	padding: 0;
	margin-top: 16px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #292929, -1px -1px 1px #B2B2B2;
	border-radius: 5px;
	transition: all .3s;
	color: white;
	font-weight: 700;
	margin-left: 0.5rem;
}

button:hover {
	background: #2980b9;
}

button:focus {
	box-shadow: 1px 1px 1px #B2B2B2, -1px -1px 1px #292929;
}



